<div class="sidebar">
  <div class="col-12 side-bar-center">
    <div class="d-flex flex-column">
      <h5 class="mx-auto">
        <a class="blog-name" href="/">{{site.title}}</a>
      </h5>

      <div class="blog-description mx-auto">{{site.description}}</div>
    </div>
    <hr />
    <div>
      <div class="d-flex justify-content-center">
        <a href="/" class="menu-item my-1">Home</a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="/technical" class="menu-item my-1">Technical</a>
      </div>
      <!-- <div class="d-flex justify-content-center">
                <a href="/pet-project" class="menu-item my-1">Pet project</a>
            </div> -->
      <div class="d-flex justify-content-center">
        <a href="/other" class="menu-item my-1">Other</a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="/about" class="menu-item my-1">About me</a>
      </div>
    </div>

    <hr />
    <div class="d-flex flex-row justify-content-center">
      <a class="mx-2" href="https://fb.com/quockhanhdev">
        <i class="fa fa-facebook-official"></i>
      </a>
      <a class="mx-2" href="https://github.com/khanhtrancse">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</div>
